#Будут игнорированы файлы, находящиеся в подкаталоге tmp и файлы, заканчивающиеся суффиксами _old, _backup;
/tmp/
_old
_backup
 #Будут игнорированы файлы (Thumbs.db);
Thumbs.db
 #Будут игнорированы файлы (.DS_Store);
 DS_Store
